/* YOUR CUSTOM STYLES */

.imagem-galeria{
	width: 100%;
	height: 300px;
}

.descricao-galeria{
	height: 30px;
}

.container-carousel{
	padding-top: 20px;
	padding-bottom: 20px;
	background-image: url("../img/imagens/carousel-bg.jpg");
}

.titulo{
	color: #007897;
}